.product__img {
  height: 255px;
  @include pad {
    height: 165px;
  }
}

.product__img-mask {
  top: 0;
  left: 0;
  height: 255px;
  width: 100%;
  opacity: 1;
  @include pad {
    height: 165px;
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: $main;
  background-color: transparent;
  &::after {
    content: "";
    display: block;
    width: 18px;
    border-bottom: 2px solid $light-main;
    position: absolute;
    bottom: 8px;
    right: calc(50% - 10px);
  }
}

.page-link {
  &:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }
  &:hover {
    color: $light-main;
    background-color: transparent;
  }
}
