// util
// container-wrap
.container-wrap{
  max-width: 1120px;
  margin: 0 auto;
}


// bg-image
.bg-cover {
  background-size: cover;
  background-position: center;
}

.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

// width
.w-33{
  width: 33.33%;
}
.w-66{
  width: 66.66%;
}
.w-80{
  width: 80%;
}

// font
// .fw-300{
//   font-weight: 300;
// }
// .fw-600{
//   font-weight: 600;
// }


