.footer{
    a{
        display: block;
        &:hover{
            color: $warning !important;
        }
    }
}

.footer__logo {
    display: block;
    width: 128px;
    height: 38px;
    background: url('../images/d’Perfumewhite.png') no-repeat;
    @include text-hide;
}